

body{
    background-image: url(./imgs/Digital\ Vision\ Logo.png) !important;
    background-size: cover;
    background-repeat: no-repeat;
}








.mainForm{
    display: grid;
}

label{
    text-align: end;
    font-weight: bold;
    font-size: 25px;
    margin: 10px;
}


input{
    width: 98%;
    margin: auto;
    padding: 5px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 6px;
}




/*start my edit*/

#phone::placeholder{
    color: rgb(208, 206, 206)!important;
}
  
/*end my edit*/