
:root{
    --main-color: #83bf00;
    --second-color: #0dd8f7;
}


html{
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

@media (max-width: 768px){
    .Nav-Logo{width: 10rem;};
};


/* start Grid with css////////////////////////////////////////// */
@media (max-width: 580px) {
    .grid {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
          grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-gap: 20px;
    }
  }


  @media (min-width: 581px) and (max-width: 767px) {
    .grid {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
          grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-gap: 20px;
    }

  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .grid {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (minmax(280px, 1fr))[auto-fill];
          grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      grid-gap: 20px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199px) {
    .grid {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
          grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-gap: 20px;
    }
  }

  @media (min-width: 1200px) {
    .grid {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
          grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: 20px;
    }
  }

  /* end Grid with css/////////////////////////////// */


  /* start card page */
  .cardPage{
    max-width: 300px;
    border: 1px solid #0000001a;
    display: grid;
    justify-content: center;
    padding: 15px 30px;
    text-align: center;
    margin: auto;
  }

  @media (min-width: 581px) and (max-width: 767px) {
    .cardPage{
        max-width: 300px;
        border: 1px solid #0000001a;
        display: grid;
        justify-content: center;
        padding: 10px 10px;
        text-align: center;
    }
  }

  @media (max-width: 580px) {
    .cardPage{
        max-width: 90%;
        border: 1px solid #0000001a;
        display: grid;
        justify-content: center;
        padding: 10px 10px;
        margin: 10px auto;
        text-align: center;
    }
  }

  @media (min-width: 1000px) {
    .cardPage{
        max-width: 400px;
        border: 1px solid #0000001a;
        display: grid;
        justify-content: center;
        padding: 15px 30px;
        text-align: center;
    }
  }

  .icon{
      width: 70px;
      height: 70px;
      align-self: center;
      justify-self: center;
    }


/* end card page*/




.div-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


/* Start slider page/////////////////////////// */

.slider-h1{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 1.2;
    font-weight: 600;
    animation-delay: .5s;
    font-size: 36px;
}

.slider-h1 > span{
    color: #83bf00;
}

.slider-p{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0 0 15px;
    text-transform: none;
    font-weight: 400;
    color: #ffffff;
    animation-delay: .5s;
    font-size: 16px;
    line-height: 30px;
}


#headerImg{
  width: 100%;
  height: auto;
}

body > div:nth-child(5) > center:nth-child(1) > h2{
  font-size: 2rem;
}

body > div:nth-child(5) > center:nth-child(1) > p{
  font-size: 1.5rem;
}



@media (min-width: 768px)  {
    .contentDad{
        max-width: 600px !important;
    }

}


@media (max-width: 768px)  {

  #carouselExampleIndicators > ol{
    display: none;
  }

  #large-header{
    display: none;
  }

  #demo-canvas{
    display: none;
  }

  #headerImg{
    content: url("./images/phone2Banner.png");
  }

  body > div:nth-child(5) > center:nth-child(1) > h2{
    font-size: 27px;
  }

  body > div:nth-child(5) > center:nth-child(1) > p{
    font-size: 18px;
  }

}

/* end slider page/////////////////////////// */

/*  */

.wht {
    position: relative;
}


.wht::after {
    background: white none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 4px;
    left: 56%;
    margin-left: 20px;
    position: absolute;
    width: 6px;
}
/*  */




/* start two dives */
@media (min-width: 768px) {
    .twoDivs{
        display: flex;
    }
}




  .twoDivs > div > ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  
  .twoDivs > div > ul > div > li {
    font-size: 16px;
    font-family: 'cairo',sans-serif;
    text-indent: -1em;
    padding: 2px 1em 2px 1em;
  }
  
  .twoDivs > div > ul > div > li:after {
    content: "✔️";
    padding-left: 5px;
  }

  .twoDivImg{
    width: 80%;
    margin: auto;
  }


  @media (max-width: 768px) {
    .twoDivImgDad{
        display: none !important;
    }
}


/* end two dives */


/* start sliderScroll */
.slideMarka{
  margin: auto;
  width: 280px;
  height: 150px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.156);
  border-top: 0px !important;
  border-bottom: 0px !important;
}



/* end sliderScroll */


/* start about us */


/* end about us */









/* Start Footer */
.footer {
  padding: 70px 0 0;
}



@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.footer .box h3 {
  color: white;
  font-size: 50px;
  margin: 0 0 20px;
}
.footer .box .social {
  display: flex;
}
@media (max-width: 767px) {
  .footer .box .social {
    justify-content: center;
  }
}
.footer .box .social li {
  margin-right: 10px;
}

.footer .box .social li::marker {
  color: transparent;
}

.footer .box .social li a {
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: 1s;
  text-decoration: none;
  border-radius: 20px;
}
.footer .box .social .facebook:hover {
  background-color: #1877f2;
}
.footer .box .social .whatsapp:hover {
  background-color: #026832;
}
.footer .box .social .telegram:hover {
  background-color: #1877f2;
}
.footer .box .text {
  line-height: 2;
  color: white;
}
.footer .box .links li {
  padding: 15px 0;
  transition: 1s;
}

.footer .box .links li::marker {
  color: transparent;
}

.footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}
.footer .box .links li:hover {
  padding-left: 10px;
}
.footer .box .links li:hover a {
  color:var(--second-color);
}
.footer .box .links li a {
  color: white;
  transition: 1s;
  text-decoration: none;
}
.footer .box .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--second-color);
}
.footer .box .line {
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .footer .box .line {
    flex-direction: column;
  }
}
.footer .box .line i {
  font-size: 25px;
  color: var(--second-color);
  margin-right: 10px;
}
@media (max-width: 767px) {
  .footer .box .line i {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.footer .box .line .info {
  line-height: 1.7;
  flex: 1;
}
.footer .box .line .info span {
  display: block;
}
.footer .footer-gallery img {
  width: 78px;
  border: 3px solid white;
  margin: 2px;
}
.footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: white;
  margin: 50px 0 0;
  border-top: 1px solid #444;
}
/* End Footer */









/**/


